<h1>Home#change_password</h1>

<form id="addNewProduct">
     Old Password: <input type="password" id="changePasswordOldPassword"/>
     <span id="change_password_old_password_header" style="color: red;" hidden>Old Password</span>
     <span id="change_password_old_password_alert" style="color: red;"></span>
     </br></br>
     
     New Password: <input type="password" id="changePasswordNewPassword"/>
     <span id="change_password_password_header" style="color: red;" hidden>New Password</span>
     <span id="change_password_password_alert" style="color: red;"></span>
     </br></br>

     Confirm Password: <input type="password" id="changePasswordPasswordConfirmation"/>
     <span id="change_password_password_confirmation_header" style="color: red;" hidden>Confirm Password </span>
     <span id="change_password_password_confirmation_alert" style="color: red;"></span>
     </br></br>

     <input type="submit" name="Submit" id="submitChangePassword" onclick="changePassword()">
  </form>

