<%= form_for(@kucing) do |f| %>
  <% if @kucing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kucing.errors.count, "error") %> prohibited this kucing from being saved:</h2>

      <ul>
      <% @kucing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
